<body>

  <div class="py-5" >
    <div class="container w-50 bg-danger p-2 bg-opacity-75 mt-5 rounded shadow"  disabled>
        <div class="row align-items-lg-stretch">
      
              <div class="col bg-Link p-3 rounded-end ">
                  <div class="text-end">
                   
                  </div>

                  <strong>
          <h2 class="ww-bold text-center py-1 text-white">Bienvenido</h2>
        </strong>     
                      <div class="mb-4">
                          <strong> <label for="email" class="form-label text-white">Correo electrónico</label></strong>
                          <input formControlName="correo" type="email" class="form-control" id="correo">
                      </div>
                      <div class="mb-4">
                          <strong> <label for="password" class="form-label text-white">Contraseña</label></strong>
                          <input formControlName="contrasenia" type="password" class="form-control" id="contrasenia">
                      </div>
                      
                     
                      <strong> <button type="submit" class="btn btn-warning float-end">Aceptar</button></strong>

                      <div class="d-grid">
                          <strong> <button type="submit" class="btn btn-info" [routerLink]="['/home']" routerLinkActive="router-link-active">Iniciar
                Sesión</button></strong>

                          <button type="button" class="btn btn-danger.btn-opacity-75 text-dark" routerLink="/registroAdmin">¿No tienes una cuenta?</button>
                          <button type="button" class="btn btn-danger.btn-opacity-75 text-dark" routerLink="/registroAdmin">¿Olvido la contraseña?</button>
                        </div>
                 
                  
              </div>
          </div>
      </div>
  </div>
  <div class="footer">
      <p>2022 © FORPELIS | Cuaspud-Carlosama, Nariño - Colombia</p>
  </div>

